<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientID</key>
	<string>vb13BWJVxT9kPTHNazEf2KN9ev28mk7F0ve7Fvga</string>
	<key>ApplicationID</key>
	<string>zNIuPOtKnxNAVHekB1yCkgTBlABXiG5OqB4Cv4C5</string>
</dict>
</plist>
